.nav {
  padding: 8px;
  margin-top: 8px;
  border: 1px solid salmon;
  a {
    padding: 0 8px;
  }
}
.product {
  &::after {
    display: block;
    content: '------ 여기서부터가 프로덕트 시작 --------';
    border: 1px solid lime;
  }
  padding: 16px;
}
