.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #999;
  .title {
    font-size: 19px;
  }
}
.nav a {
  padding: 0 8px;
}
